.detail-specialty-container {
    .description-specialty {
        background-color: white !important;
        padding         : 10px;
        margin          : 15px 0;

        h1,
        h2,
        h3 {
            font-size  : 16px;
            font-weight: 600;
        }
    }

    .search-sp-doctor {
        select {
            height       : 30px;
            padding      : 5px 8px;
            border       : none;
            outline      : none;
            border-radius: 3px;
            cursor       : pointer;
        }
    }

    .detail-specialty-body {
        padding       : 0 100px;
        background    : #eee;
        display       : flex;
        flex-direction: column;
    }
}